body{margin: 0;
padding: 0;
overflow-X: hidden;}
.font{
    font-family: 'Rozha One', serif;
    font-size: 70px;
    text-align: center;
    font-weight: 400;
    text-align: left;
}
.font1{
    font-size: 35px;
    font-weight: 800;
    font-family: 'Playball', cursive;}
.half-width{
    width: 50%;
    margin: 10px 15px 30px 120px;
}
.half-width img{
    width:80%;
    height:100%;
}
.button{
    color: white;
    font-weight: 700;
    text-decoration: none;                                       
    background-image: linear-gradient(tomato,tomato);      
    padding: 10px 20px ;
    border-radius: 5px;
}
.color{color: rgb(255, 166, 0);}
.one{
    display: flex;
    width:100%;
    margin:10px;
}
.one img{
    margin-left: 10px;
    margin-top: 0px 5px 20px 0px;
}
.new{margin-top: 120px;}
.two{
    display: flex;
    width: 100%;
    height: 50%;
    margin: 20px 0px 40px 0px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.two img{
    width: 30%;
    height: 20%;
}

    #illus-one{
        width: 27%;
        height: 100%;
        background-color: rgb(235, 231, 231);
        margin-left: 110px;
        margin-right: 10px;
        padding:0px 20px 40px;
        border: 0px solid;
        border-radius: 20px;
    }
    #illus-two{
        width: 27%;
        height: 100%;
        background-color: lavenderblush;
        margin-left: 10px;
        margin-right: 10px;
        padding:0px 20px 40px;
        border: 0px solid;
        border-radius: 20px;
    }
    #illus-three{
        width: 27%;
        height: 100%;
        background-color: lightgoldenrodyellow;
        margin-left: 10px;
        margin-right: 110px;
        padding:0px 20px 40px;
        border: 0px solid;
        border-radius: 20px;
    }
  
    #foot-color{color: tomato;}
    #linkedin{
        margin-left: 10px;
        border: 0px solid;
        border-radius: 25px;}

.disclaimer{text-align: center;}
.head{text-align: left;}
.three{
    display: flex;
    margin: 70px 60px 0px 0px;
    padding-right:50px ;
}
.three img{
    width: 82%;
    height: 100%;
    margin-left: 14px;
}
.right{width:60%;
    margin-top: 50px;
    margin-left: 0px;
    padding-right: 25px;
    padding-left:0px;
}
.back1{
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
}
.back2{
    background-image: url(./images/shapes/shape-8.png);
    background-repeat: no-repeat;
}
.back3{
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
}
.border{
    padding-left: 12px;
    line-height: 240%;
    border-left: 4px solid tomato;
    border-radius: 4px;
    padding-top:5px 0px 5px 0px;
}
.four{
    display: flex;
    margin: 50px 20px 0px 0px;
}
.left{
    width:60%;
    margin-left: 105px;
    padding-right: 0px;
    padding-left:30px;
}

.five{
    display: flex;
    margin: 50px 30px 0px 7px;
}

h1{font-size: 40px;
    text-align: left;
    font-weight: 800;
}
.mid{text-align: center;}
.boro{font-size:50px;}
h2{
    font-size: 40px;
    text-align: center;
    font-weight: 650;   
}
h3{
    font-size:25px;
    text-align: left;
    font-weight: 700;
}
p{font-size: 20px;
    font-weight: 400;
    text-align: justify;
}
.new{font-size: 18px;
    font-weight: 400;
    text-align: justify;}



footer{color: white;
    text-align: center;
    background-color: black;
    margin-top: 50px;
    margin-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
